<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "cocktail_banner.jpg" %>');">
  <div class="container">
    <h1>The World of</h1>
    <h1>Delicious Cocktails</h1>
  </div>
</div>

<div id="new-cocktail"><%= link_to "Add a Cocktail", new_cocktail_path, class: "btn btn-ghost-dark"%></div>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1575023782549-62ca0d244b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)">
    <%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail_link" %>
  </div>

  <% end %>
</div>
