.show-cocktail {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.picture {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1583898350903-99fa829dad3d?ixlib=rb-1.2.1&auto=format&fit=crop&w=658&q=80);
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 70vh;
  margin-right: 25px;
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    color: #F7E7CF;
  }
}

.description {
  width: 40%;
  border: 1px solid grey;
  margin-left: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 300;
}
